/* What we believe Section */
#what-we-believe {
    background-color: #000;
}

.philosophy-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.philosophy-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8rem 3rem 3rem 3rem;
    background-color: #fff;
}

.philosophy-paragraph {
    font-size: clamp(1.1rem, 2.2vw, 1.4rem);
    margin-bottom: 1.8rem;
    opacity: 0; /* Hidden by default */
    color: #000;
    line-height: 1.5;
}

.philosophy-video-container {
    position: relative;
    overflow: hidden;
}
