/* What we believe Section */
#what-we-believe {
    background-color: #000;
}

.philosophy-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.philosophy-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    background-color: #fff;
}

.philosophy-paragraph {
    font-size: var(--font-size-body);
    margin-bottom: 2rem;
    opacity: 0; /* Hidden by default */
    color: #000;
}

.philosophy-video-container {
    position: relative;
    overflow: hidden;
}
